
Button {
    margin-right: 1rem;
}


.productCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 45%;
    margin: 1.2rem 0.5rem;
}

.productImg {
    background-color: var(--darkblue);
}

.productImg img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
}

.productCard h3, p {
    margin-bottom: 0.5rem;
}

.productDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    min-height: 10rem;
    padding: 1rem 1rem 0 1rem;
    background-color: var(--darkblue);
    color: var(--offwhite);

}

.productCounter {
    display: flex;
    align-items: center;
}


.productFunctions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}