.logout {
   display: flex;
   justify-content: center;
   align-items: center;
}

.logout button {
    padding: 0.2rem;
    border-radius: 1rem;
}

button:hover {
    background-color: var(--orange);
    color: var(--offwhite);
}