.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    overflow: hidden;
}

.loginForm {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100vw;
    font-size: 1.5rem;
    overflow: hidden;
}

.email {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.password {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.loginButton {
    overflow: hidden;
}

label {
    margin-bottom: 0.5rem
}

input {
    background-color: var(--lightgrey);
    line-height: 2;
}

h1 {
    margin: 1rem;
}

